/* App.css */
html, body {
  height: 100%; /* Ensure the body takes up full viewport height */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Makes the App container at least full viewport height */
}

main {
  flex: 1 0 auto; /* Allows main to grow and push the footer down */
  padding: 1rem;
}

main, .App > div > div {

  min-height: calc(100vh - 300px); /* Accounts for navbar (~50px) and footer (~50px) */
  
}

main h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  text-align: center;
}

main p {
  font-size: 1.2rem;
  color: #666;
  padding-bottom: 8px;
}

.p_title {
  text-align: center;
}

body.dark-mode main p {
  color: #ccc;
}

/* Footer styling - adjust as needed based on your Footer component */
Footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  main h1 {
    font-size: 1.2rem; /* Smaller size on mobile */
  }
}